<div>
    <button type="button" class="btn btn-primary" (click)="addTrip()">
        Add New Trip
    </button>
</div>
<div>
  <div *ngFor="let model of trip.list; let i = index" class="tripList">
    <!-- <p style="position: absolute; bottom: 10px; right: 10px">
      <a href="#" class="btn btn-link">Edit</a>
            <a href="#" class="btn btn-link">Delete</a>
      <button type="button" class="btn btn-primary btn-xs" ng-click="gc.editTrip(model, tripForm)">
        Edit
      </button>
      <button type="button" class="btn btn-warning btn-xs" ng-click="gc.deleteTrip(model, tripForm)"
        ng-show="!model.isNew">
        Delete
      </button>
    </p> -->
    <h4>
      <b>{{model.tripDate | date : "MM/dd/yyyy"}} </b>
      <b>{{model.airport?.text}}</b>
    </h4>
    {{model.airport?.text2}}
    <p>{{model.transTypeDesc}}</p>
    <p>{{model.groupName}} {{model.groupSize}}</p>
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="edit(model)">Edit</button>
    <button type="button" class="btn btn-outline-warning btn-sm" (click)="delete(model)">Delete</button>

  </div>

  <!-- <div class="card d-inline-block text-center border-primary" style="width: 18rem;" *ngFor="let model of trip.list; let i = index">
    <div class="card-body">
      <h3>
        <b>{{model.tripDate | date : "MM/dd/yyyy"}} </b>
        <b>{{model.airport?.text}}</b>
    </h3>
        {{model.airport?.text2}}
        <p>{{model.transTypeDesc}}</p>
        <p>{{model.groupName}} {{model.groupSize}}</p>
      <a href="#" class="card-link">Edit</a>
      <a href="#" class="card-link">Delete</a>
    </div>
  </div> -->
</div>