<form [formGroup]="tripForm" novalidate>
    <div>
        <div class="form-group">
            <label for="tripDate" class="control-label">Trip Date</label>
            <div class="input-group">
                <input id="tripDate" type="text" ngbDatepicker #d="ngbDatepicker" class="form-control date-box"
                    formControlName="tripDate"  [displayMonths]="'2'">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
            <div *ngIf="f.tripDate.invalid && (f.tripDate.dirty || f.tripDate.touched)"
                class="form-text text-danger">
                <div *ngIf="f.tripDate.errors.required">Trip Date is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="airportInfo" class="control-label">Airport</label>
            <app-airport-lookup id="airportInfo" (airportSelect)="arptSelect($event)" 
                [parentForm]="tripForm" [formFieldName]="'airportInfo'">
            </app-airport-lookup>
    <div *ngIf="f.airportInfo.invalid && (f.airportInfo.dirty || f.airportInfo.touched)"
                class="form-text text-danger">
                <div *ngIf="f.airportInfo.errors.required">Airport is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="transTypeId" class="control-label">Trans Type</label>
            <select id="transTypeId" class="form-control" id="transType" formControlName="transTypeId" >
                <option *ngFor="let tran of refDataService.refData.transTypes" [ngValue]="tran.id">{{tran.text}}</option>
            </select>
            <div *ngIf="f.transTypeId.invalid && (f.transTypeId.dirty || f.transTypeId.touched)"
                class="form-text text-danger">
                <div *ngIf="f.transTypeId.errors.required">Trans Type is required.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ">
                <div class="form-group">
                    <label for="groupName" class="control-label">Group Name</label>
                    <input id="groupName" type="text" class="form-control" formControlName="groupName" >
                    <div *ngIf="f.groupName.invalid && (f.groupName.dirty || f.groupName.touched)"
                        class="form-text text-danger">
                        <div *ngIf="f.groupName.errors.required">Group Name is required.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label for="groupSize" class="control-label">Size</label>
                    <input id="groupSize" type="number" class="form-control" formControlName="groupSize" >
                    <div *ngIf="f.groupSize.invalid && (f.groupSize.dirty || f.groupSize.touched)"
                        class="form-text text-danger">
                        <div *ngIf="f.groupSize.errors.required">Group Size is required.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input id="active" type="checkbox" class="form-check-input" formControlName="active">
                <label class="form-check-label" for="active">Active</label>
            </div>
        </div>
   <div class="form-group">
            <label for="note" class="control-label">Note</label>
            <textarea id="note" type = "text" class="form-control" formControlName="note" rows="3" ></textarea>
        </div>
    </div>
    <div class="pull-left" *ngIf="showButtons">
        <button type="button" class="btn btn-primary mr-2" (click)="saveTrip()"
            [disabled]="!(tripForm.dirty && tripForm.valid)">
            Save
        </button>
        <button type="button" class="btn btn-secondary mr-2" (click)="cancelTrip()">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="deleteTrip()" *ngIf="model && !model.isNew && enableDelete">
            Delete
        </button>

    </div>
</form>